<!DOCTYPE html>
<html>
<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="stylesheet" href="/styles/icons.css">
  
</head>

<body>
  <header>
    <div class="navbar" id="navbar">
    <h1 class="brand">My Bookself</h1>
      <div>
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/searches/new">Search for Books</a>
        <a class="nav-link" href="/">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

  </header>
  <div class="wrapper">
    <main>
      <h3 class="page-title">Search Results</h3>
      <div id="bookList">
        <div class="book-template"></div>
        <% searchResults.forEach( book => { %>
          <img src="<%= book.image_url %>" alt="Book Cover">
          <li><%= book.title %></li>
          <li><%= book.author %></li>
          <li><p id="book-desc"><%= book.description.substring(0, 150) %></p></li>
          <form action="/books" method="post">
            <input name="book_id" value="<%= book.book_id %>" type="hidden">
            <input name="title" value="<%= book.title %>" type="hidden">
            <input name="author" value="<%= book.author %>" type="hidden">
            <input name="description" value="<%= book.description %>" type="hidden">
            <input name="isbn" value="<%= book.isbn %>" type="hidden">
            <input name="image_url" value="<%= book.image_url %>" alt="Book Cover" type="hidden">
            <label for="">bookshelf: <input name="bookshelf" type="text"></label>
            <button type="submit">Select This Book</button>
            </form>
          </div>
        <% }); %>
        </div>
        <!-- Hidden Form -->

    </main>
  
  <footer>

  </footer>
<script>
  function myFunction() {
    var x = document.getElementById("navbar");
    if (x.className === "navbar") {
      x.className += " responsive";
    } else {
      x.className = "navbar";
    }
  }
</script>
</body>

</html>