<!DOCTYPE html>
<html>

<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="stylesheet" href="/styles/icons.css">

</head>

<body>
  <header>
    <div class="navbar" id="navbar">
      <h1 class="brand">My Bookself</h1>
      <div>
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/">About</a>
        <a class="nav-link" href="/">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

  </header>
  <div class="wrapper">
    <main>
      <h3 class="page-title">Search Results <%= results.length %></h3>

      <div id="bookList">
        <% results.forEach( book => { %>
        <div class="book-template">
          <img src="<%= book.image_url %>" alt="Book Cover">
          <h4 id="book-title"><span>Title: </span> <%= book.title.substring(0, 50) %></h4>
          <h5 id="book-author"><span> Author:</span> <%= book.author %></h5>
          <p id="book-desc"><%= book.description.substring(0, 150) %></p>
          <a href="/books/<%= book.id %>"> View Details</a>
        </div>
        <% }); %>
      </div>
    </main>
  </div>

  <footer>

  </footer>
  <script>
    function myFunction() {
      var x = document.getElementById("navbar");
      if (x.className === "navbar") {
        x.className += " responsive";
      } else {
        x.className = "navbar";
      }
    }
  </script>
</body>

</html>